/Filtering/dist/
/timer/nbproject/private/
/timer/build/
/Bigdata_act3/build/
/Bigdata_act3/dist/
/Bigdata_act3/nbproject/private/
/imageprocessing/nbproject/private/
/imageprocessing/build/
/processimage/nbproject/private/
/processimage/build/